$primary_color: rgb(51, 85, 139);
$secondary_color: rgb(230, 204, 34);
$black: rgb(0,0,0);
$white: rgb(254, 254, 254);
$grey: rgb(242, 241, 239);
$grey-lighter: rgb(247,248,249);
$background: $white;
$footer_background: lighten($primary_color, 50%);

$exists: rgb(11, 167, 11);
$cannot_exist: rgb(214, 7, 7);
$could_exist: $secondary_color;
$must_exist: $primary_color;

$header_font: "Roboto", -apple-system, BlinkMacSystemFont, sans-serif;
$text_font: "Piazzolla", sans-serif;
$nav_font: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
