@import "tailwindcss/base";

@import "tailwindcss/components";
@import "components.css";

@import "tailwindcss/utilities";
@import "utilities.css";

body {
  font-size: 18px;
  line-height: 1.5;
}

.list-status {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.list-status-item {
  margin: 0;
  padding: .25em .25em;
}
