@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@400;700&display=swap');
// TODO pull out some of these styles as imports for easier maintaining

*, *:after {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: auto;
}
body {
  background-color: rgb(254,254,254);
  font-family: 'Piazzolla', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  min-height: 100%;
}

@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 8% 1fr 3%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
      "header header"
      "main aside"
      "footer footer"
  }
  header { grid-area: 1 / 1 / 2 / 3; }
  main { grid-area: 2 / 1 / 4 / 2; }
  aside { grid-area: 2 / 2 / 4 / 3; }
  footer { grid-area: 4 / 1 / 5 / 3; }
}

header {
  align-items: center;
  background-color: rgb(51, 85, 139);
  color: rgb(230,204,34);
  display: flex;
  flex-flow: row wrap;
  min-height: 8vh;
  width: 100%;
  h1 {
    display: flex;
    font-size: 1.85em;
    font-weight: normal;
    justify-content: flex-start;
    line-height: 1;
    margin: 0;
    padding-left: 0.5em;
    width: 100%;
    a {
      background-color: rgb(51, 85, 139);
      color: rgb(230,204,34);
      display: flex;
      justify-content: stretch;
      text-decoration: none;
      width: 100%;
    }
  }
}
aside {
  background-color: rgb(242,241,239);
  color: black;
  height: auto;
  padding: 0;
  p {
    padding-left: 0.5em;
    font-weight: bold;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
  }
}
main {
  padding: 0.5em 1em;
  section {
    display: flex;
    flex-flow: row wrap;
    padding: 0 0.5em;
    h2 {
      width: 100%;
      margin: auto;
    }
    p {
      width: 100%;
      font-size: 1.15em;
      line-height: 1.5;
    }
  }
}
footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  p {
    padding-left: 0.25em;
    text-align: center;
  }
}
//TODO clean this up & flip the naming- should be list-status (don't forget to update the templates!)
ul.status-list {
  display: inline-flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0 auto 1em auto;
  padding: 0;
  width: 100%;
  .status-listitem {
    background-color: black;
    border-radius: 4px;
    color: white;
    display: inline-flex;
    font-family: sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 0.25em;
    padding: 0.15em 0 0.15em 0.25em;
    text-transform: uppercase;
    span {
      font-weight: normal;
      letter-spacing: 0;
      padding: 0.15em 0.25em 0 0.15em;
      text-transform: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      margin: -0.15em 0;
    }
  }
}

.status-exists {
  background-color: #0ba70b;
  color: white;
}
.status-cannotexist {
  background-color: #d60707;
  color: white;
}
.status-couldexist {
  background-color: rgb(230,204,34);
  color: black;
}
.status-mustexist {
  background-color: blue;
  color: white;
}

nav {
  background-color: rgba(51, 85, 139, 0.1);
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  padding: 0;
  ul {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    list-style: none;
    // margin: 0;
    // padding: 0;
    li {
      display: flex;
      margin: 0;
      padding: 0;
      .breadcrumb-separator {
        display: flex;
        padding: 0.5em 0.25em;
        justify-content: center;
      }
      a {
        background-color: transparent;
        color: rgb(51, 85, 139);
        display: flex;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 0.5em 0.25em 0.5em 0.5em;
        text-transform: uppercase;
        &:hover, :focus {
          background-color: rgb(51, 85, 139);
          color: rgb(230,204,34);
          transition: ease-in-out;
        }
      }
    }
  }
}
ul {
  // TODO flip the naming - should be list-detail (don't forget to update the templates!)
  &.detail-list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    li {
      margin: 0 auto;
      padding: 0;
      width: 100%;
      a {
        background-color: transparent;
        color: rgb(51, 85, 139);
        display: flex;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 0.9em;
        justify-content: stretch;
        line-height: 1.25;
        padding: 0.5em 0.25em;
        text-decoration: none;
        width: 100%;
        &:hover,
        &:focus {
          background-color: rgb(51, 85, 139);;
          color: rgb(230,204,34);
        }
      }
    }
  }
}


article {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  > * {
    width: 100%;
  }
  p {
    margin: 0;
    padding: 0;
  }
  h2, h3 {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
    margin-bottom: 0;
  }
  footer {
    background-color: aliceblue;
    color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 2em;
    padding: 1em;
    width: 100%;
    p {
      margin-bottom: 0;
    }
    ul {
      &.list-tags {
        list-style-position: outside;
        margin-top: 0;
        width: 100%;
      }
    }
  }
}

code {
  background-color: #e8e8e8;
  border-radius: 3px;
  padding: 0px 4px;
}