@import "tailwindcss/base";

@import "tailwindcss/components";
@import "components.css";

@import "tailwindcss/utilities";
@import "utilities.css";


.list-status {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0 auto 1em auto;
  padding: 0;
  width: 100%;
}
.list-status-item {
  margin: 0;
  padding: .25em .25em;
}

.status-exists {
  @apply bg-green-100 text-green-800;
}
.status-couldexist {
  @apply bg-yellow-100 text-yellow-800;
}
.status-cannotexist {
  @apply bg-red-100 text-red-800;
}
.status-mustexist {
  @apply bg-blue-100 text-blue-800;
}
.status-shouldexist {
  @apply bg-purple-100 text-purple-800;
}
