*, *:after {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: auto;
}
body {
  display: grid;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 7fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
@media screen and (min-width:748px) {
  body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
header { grid-area: 1 / 1 / 2 / 3; }
aside  { grid-area: 2 / 1 / 3 / 3; }
main   { grid-area: 3 / 1 / 4 / 3; }
footer { grid-area: 4 / 1 / 5 / 3; }

@media screen and (min-width: 748px) {
  header { grid-area: 1 / 1 / 2 / 3; }
  aside  { grid-area: 2 / 1 / 3 / 2; }
  main   { grid-area: 2 / 2 / 3 / 3; }
  footer { grid-area: 3 / 1 / 4 / 3; }
}
header {
  background-color: rgb(51, 85, 139);
  color: rgb(230,204,34);
}
header > h1 {
  font-weight: normal;
  padding: 0 0.25em;
}
@media screen and (min-width: 748px){
  aside {
    border-right: 1px solid rgb(207, 207, 207);
  }
}
main {
  min-height: 80vh;
  padding: 0.25em;
}

footer {
  border-top: 1px solid rgb(207, 207, 207);
  text-align: center;
}