@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@400;700&display=swap");
@import "variables";

@import "layout/core";
@import "layout/header";
@import "layout/aside";
@import "layout/main";
@import "layout/footer";
@import "layout/status";
@import "layout/nav";
@import "layout/article";
