@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@400;700&display=swap');

*, *:after {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: auto;
}
body {
  display: grid;
  font-family: 'Piazzolla', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 7fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
@media screen and (min-width:748px) {
  body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
header { grid-area: 1 / 1 / 2 / 3; }
aside  { grid-area: 2 / 1 / 3 / 3; }
main   { grid-area: 3 / 1 / 4 / 3; }
footer { grid-area: 4 / 1 / 5 / 3; }

@media screen and (min-width: 748px) {
  header { grid-area: 1 / 1 / 2 / 3; }
  aside  { grid-area: 2 / 1 / 3 / 2; }
  main   { grid-area: 2 / 2 / 3 / 3; }
  footer { grid-area: 3 / 1 / 4 / 3; }
}
header {
  background-color: rgb(51, 85, 139);
  color: rgb(230,204,34);
}
header > h1 {
  font-weight: normal;
  padding: 0 0.25em;
}
@media screen and (min-width: 748px){
  aside {
    border-right: 1px solid rgb(207, 207, 207);
  }
}
main {
  min-height: 80vh;
  overflow-y: scroll;
  padding: 0.25em;
}

footer {
  border-top: 1px solid rgb(207, 207, 207);
  text-align: center;
}
ul.status-list {
  display: inline-flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0 auto 1em auto;
  padding: 0;
  width: 100%;
  .status-listitem {
    background-color: black;
    border-radius: 4px;
    color: white;
    display: inline-flex;
    font-family: sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 0.25em;
    padding: 0.15em 0 0.15em 0.25em;
    text-transform: uppercase;
    span {
      font-weight: normal;
      letter-spacing: 0;
      padding: 0.15em 0.25em 0 0.15em;
      text-transform: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      margin: -0.15em 0;
    }
  }
}

.status-exists {
  background-color: #0ba70b;
  color: white;
}
.status-cannotexist {
  background-color: #d60707;
  color: white;
}
.status-couldexist {
  background-color: rgb(230,204,34);
  color: black;
}
.status-mustexist {
  background-color: blue;
  color: white;
}

nav {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  ul {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0.5em;
    li {
      display: flex;
      margin: 0;
      padding: 0;
      a {
        display: flex;
        padding: 0.5em;
        color: white;
        background-color: transparent;
        &:hover, :focus {
          color: rgb(230,204,34);
        }
      }
    }
  }
}