:root {
  --col-header-color: #444;
}

@media screen and (-ms-high-contrast: active),
screen and (forced-colors: active) {
  :root {
    --col-header-color: ButtonText;
    --col-header-stroke-color: #f9fafb;
  }
}

.sortable-table th > button svg.icon-sort-asc,
.sortable-table th > button svg.icon-sort-desc {
  stroke: transparent;
  display: inline-flex;
}

.sortable-table [aria-sort="ascending"] > button svg.icon-sort-filled {
  stroke: transparent;
  fill: var(--col-header-color);
}

.sortable-table [aria-sort="descending"] > button svg.icon-sort-filled {
  stroke: transparent;
  fill: var(--col-header-color);
  margin-top: -8px;
}

.sort-icon-bottom {
  margin-top: -8px;
}

.sortable {
  @apply
  p-1;
}

.sort-toggle {
  @apply
  border-2
  border-transparent
  flex 
  font-semibold
  items-center
  px-6
  py-3
  text-gray-800
  text-left 
  text-base
  tracking-wider
  uppercase
  w-full;
}

.sort-toggle:hover {
  border-style: dashed;
  text-decoration: underline;

}
.sort-arrow {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  @apply
  w-4;
}

