<nav class="bg-gray-900">
  <NavigationNarrator/>
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <img
            class="h-8 w-8"
            src="/assets/images/a-logo.svg"
            alt=""
            role="presentation"
            height="32"
            width="32"
          />
        </div>
        <div class="sm:flex">
          <div class="ml-10 flex items-baseline space-x-4">
            <LinkTo @route="application"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >
              Home
            </LinkTo>
            <LinkTo @route="violations"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >
              Potential Violations
            </LinkTo>
            <LinkTo @route="automated-tools"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >
              Automated Tools
            </LinkTo>
            <a
              href="https://github.com/MelSumner/a11y-automation" rel="external"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >
              GitHub Repo
            </a>
          </div>
          <button 
              type="button"
              aria-label="toggle dark/light mode"
              onclick={{action "onChangeTheme"}}
              class="bg-white px-3 py-2 rounded-md ml-80">
              {{#if this.isDarkTheme}}
                <img
                  src="/assets/images/light-theme.svg"
                  alt=""
                  role="presentation"
                  height="20"
                  width="20"
                />
              {{else}}
                <img
                  src="/assets/images/dark-theme.svg"
                  alt=""
                  role="presentation"
                  height="20"
                  width="20"
                />
              {{/if}}
            </button>
        </div>
      </div>
    </div>
  </div>
</nav>