article {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  > * {
    width: 100%;
  }
  p {
    margin: 0;
    padding: 0;
  }
  h2,
  h3 {
    font-family: $header_font;
    margin-bottom: 0;
  }
  .footer {
    background-color: $footer_background;
    border-left: 4px solid $primary_color;
    color: $black;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 2em;
    padding: 0.5em;
    width: 100%;
    p {
      margin-bottom: 0;
      font-family: $header_font;
    }
    ul {
      &.list-tags {
        list-style-position: outside;
        margin-top: 0;
        width: 100%;
      }
    }
  }
}
