@import "../utils/helper";

aside {
  background-color: $grey-lighter;
  color: $black;
  height: auto;
  overflow-y: auto;
  padding: 0;

  #list-detail-title {
    font-family: $header_font;
    background-color: $grey-lighter;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    padding: 0.5em;
    text-transform: uppercase;
    @include desktop {
      position: sticky;
      top: 0;
    }
  }

  @include mobile-only {
    position: fixed;
    top: 0;
    right: 0;
    width: 60vw;
    height: 100vh;
    overflow: visible;
    transition: transform .4s ease-in-out;
    transform: translateX(60vw);
    &.active { transform: translateX(0); }
    &.active > #list-detail-switcher:after { content: '>'; }

    #list-detail-switcher {
      cursor: pointer;
      position: absolute;
      top: 40px;
      left: -30px;
      z-index: 5;
      width: 30px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #AAA;
      border: 2px solid #AAA;
      border-right: none;
      border-radius: 4px 0 0 4px;
      background-color: $grey-lighter;
      &:after {
        content: '<';
        height: 18px;
        font-size: 1.5em;
        line-height: .5em;
        transform: scaleX(.8) scaleY(1.5);
      }
    }
  }

  @include desktop {
    grid-area: aside;
    #list-detail-switcher { display: none; }
  }
}

ul {
  &.list-detail {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    @include mobile-only {
      max-height: 100vh;
      overflow: auto;
    }

    li {
      margin: 0 auto;
      padding: 0;
      width: 100%;
      a {
        background-color: transparent;
        color: $primary_color;
        display: flex;
        font-family: $sans-serif;
        font-size: 0.9em;
        justify-content: stretch;
        line-height: 1.25;
        padding: 0.5em 0.25em 0.5em 1em;
        text-decoration: none;
        width: 100%;
        &:hover,
        &:focus {
          background-color: $primary_color;
          color: $secondary_color;
        }
        &.active {
          background-color: $secondary_color;
          color: $primary_color;
        }
      }
    }
  }
}
