@import "../utils/helper";

aside {
  background-color: $grey-lighter;
  color: $black;
  height: auto;
  overflow-y: scroll; // TODO idk if I should do this? is this ok to do?
  padding: 0;

  p {
    font-family: $header_font;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 0.5em;
    text-transform: uppercase;
  }

  @include desktop {
    grid-area: aside;
  }
}

ul {
  // TODO flip the naming - should be list-detail (don't forget to update the templates!)
  &.detail-list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0.5em auto 0;
    padding: 0;
    width: 100%;
    li {
      margin: 0 auto;
      padding: 0;
      width: 100%;
      a {
        background-color: transparent;
        color: $primary_color;
        display: flex;
        font-family: $nav_font;
        font-size: 0.9em;
        justify-content: stretch;
        line-height: 1.25;
        padding: 0.5em 0.25em 0.5em 1em;
        text-decoration: none;
        width: 100%;
        &:hover,
        &:focus {
          background-color: $primary_color;
          color: $secondary_color;
        }
        &.active {
          background-color: $secondary_color;
          color: $primary_color;
        }
      }
    }
  }
}
