@import "../utils/helper";

*,
*:after {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: auto;
}
body {
  background-color: $background;
  font-family: $sans-serif;
  font-size: 18px;
  line-height: 1.5;
  min-height: 100%;

  @include desktop {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr auto 1fr;
    grid-gap: 0 0;
    grid-template-areas:
      "header header"
      "main aside"
      "footer footer";
  }
}
code {
  background-color: $grey;
  border-radius: 3px;
  padding: 0px 4px;
}
