@import "../utils/helper";

header {
  background-color: $primary_color;
  color: $secondary_color;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  min-height: 60px;
  width: 100%;
  padding: 0 0.5em;
  grid-area: header;
  h1 {
    display: flex;
    font-size: 1.85em;
    font-weight: normal;
    justify-content: stretch;
    margin: 0;
    max-height: 100%;
    padding: 0;
    @include mobile {
      font-size: 1.5em;
    }
    a {
      background-color: $primary_color;
      color: $secondary_color;
      display: inline-flex;
      justify-content: stretch;
      text-decoration: none;
      width: 100%;
    }
  }
}
