@import "../utils/helper";

header {
  align-items: center;
  background-color: $primary_color;
  color: $secondary_color;
  display: flex;
  flex-flow: row wrap;
  min-height: 8vh;
  width: 100%;
  h1 {
    display: flex;
    font-size: 1.85em;
    font-weight: normal;
    justify-content: flex-start;
    line-height: 1;
    margin: 0;
    padding-left: 0.5em;
    width: 100%;
    a {
      background-color: $primary_color;
      color: $secondary_color;
      display: flex;
      justify-content: stretch;
      text-decoration: none;
      width: 100%;
    }
  }

  @include desktop {
    grid-area: 1 / 1 / 2 / 3;
  }
}
