@import "../utils/helper";

main {
  padding: 0.5em 1em;
  section {
    display: flex;
    flex-flow: row wrap;
    padding: 0 0.5em;
    h2 {
      width: 100%;
      margin: auto;
    }
    p {
      width: 100%;
      font-size: 1.15em;
      line-height: 1.5;
    }
  }

  @include desktop {
    grid-area: main;
    max-width: 68em;
  }
}
