@import "../utils/helper";

main {
  padding: 2em;
  section {
    display: flex;
    flex-flow: row wrap;
    padding: 0 0.5em;
    h2 {
      width: 100%;
      margin: auto;
    }
    p {
      width: 100%;
      font-size: 1.15em;
      line-height: 1.5;
    }
  }

  @include desktop { //TODO take out these includes, it's too difficult to maintain. Just use a media query. 
    grid-area: main;
  }
}
