nav {
  background-color: $grey;
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  padding: 0;
  ul {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    list-style: none;
    // margin: 0;
    // padding: 0;
    li {
      display: flex;
      margin: 0;
      padding: 0;
      .breadcrumb-separator {
        display: flex;
        padding: 0.5em 0.25em;
        justify-content: center;
      }
      a {
        background-color: transparent;
        color: $primary_color;
        display: flex;
        font-family: $nav_font;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 0.5em 0.25em 0.5em 0.5em;
        text-transform: uppercase;
        &:hover,
        :focus {
          background-color: $primary_color;
          color: $secondary_color;
          transition: ease-in-out;
        }
      }
    }
  }
}
