<div class="pt-6">
  <div class="flow-root bg-gray-50 dark:bg-gray-800 rounded-lg px-6 pb-8">
    <div class="-mt-6">
      <div>
        <span class="inline-flex items-center justify-center p-3 bg-indigo-600 rounded-md shadow-lg hover:bg-indigo-800 dark:bg-yellow-400">
          {{yield to="icon"}}
        </span>
      </div>
      <h3 class="mt-8 text-lg font-medium text-gray-900 dark:text-yellow-100 tracking-tight">
        {{yield to="title"}}
      </h3>
      <p class="mt-5 text-base text-gray-700 dark:text-white">
        {{yield to="description"}}
      </p>
    </div>
  </div>
</div>