<header>
  <h1>A11y Automated Rule Tracker</h1>
  <nav>
    <ul>
      <li><LinkTo @route="index">Home</LinkTo></li>
      <li><LinkTo @route="details">Details</LinkTo></li>
    </ul>
  </nav>
</header>
{{outlet}}
<footer>
  <p><small>Made with ❤️ by <a href="https://github.com/melsumner">Mel Sumner</a></small></p>.
</footer>
