<header>
  <h1>Automated A11y Rule Tracker</h1>
</header>
<aside>
  
  {{#each @model.detail as |d| }}
    <LinkTo @route="detail" @model={{d.id}}>link</LinkTo>
  {{else}}
    Sorry, something went wrong.
  {{/each}}
</aside>
<main>
  {{outlet}}
</main>
<footer>
  <p><small>See a problem? <a href="https://github.com/MelSumner/a11y-automation">File an issue in this app's GitHub repository</a></small></p>
</footer>
