<header>
  <h1><a href="/">Automated A11y Rule Tracker</a></h1>
</header>
<aside>
  <p id="detail-list-title">Itemized list of potential failures:</p>
  <ul aria-labelledby="detail-list-title" class="detail-list">
  {{#each @model as |listitem| }}
    <li><LinkTo @route="details.detail" @model={{listitem.id}}>{{listitem.title}}</LinkTo></li>
  {{else}}
    <li>Sorry, something went wrong.</li>
  {{/each}}
  </ul>
</aside>
<main>
  {{outlet}}
</main>
<footer>
  {{!-- <p><small>See a problem? <a href="https://github.com/MelSumner/a11y-automation">File an issue in this app's GitHub repository</a></small></p> --}}
</footer>
