<header>
  <h1>Automated A11y Rule Tracker</h1>
</header>
<aside>
  List of detail items:
  {{#each @model as |listitem| }}
    <LinkTo @route="detail" @model={{listitem.id}}>link</LinkTo>
  {{else}}
    <p>Sorry, something went wrong.</p>
  {{/each}}
</aside>
<main>
  {{outlet}}
</main>
<footer>
  <p><small>See a problem? <a href="https://github.com/MelSumner/a11y-automation">File an issue in this app's GitHub repository</a></small></p>
</footer>
