<div>
  <AaNavbar />
  <header class="bg-white shadow-sm">
    <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
      <h1>
        Automated A11y Tools
      </h1>
    </div>
  </header>
  <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div
            class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8"
          >
            <div
              class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg p-4 bg-gray-50 "
            >
              <ul class="list-disc pl-4">
                <li><a href="https://accesslint.com" class="text-blue-600 visited:text-purple-600 underline" target="_blank" rel="noopener noreferrer">AccessLint</a></li>
                <li><a href="https://github.com/dequelabs/axe-core" class="text-blue-600 visited:text-purple-600 underline" target="_blank" rel="noopener noreferrer">Deque axe-core</a></li>
                <li><a href="https://github.com/ember-a11y/ember-a11y-testing" class="text-blue-600 visited:text-purple-600 underline" target="_blank" rel="noopener noreferrer">ember-a11y-testing</a></li>
                <li><a href="https://accessibilityinsights.io/" class="text-blue-600 visited:text-purple-600 underline" target="_blank" rel="noopener noreferrer">Microsoft Accessibility Insights</a></li>
                <li><a href="https://github.com/GoogleChrome/lighthouse" class="text-blue-600 visited:text-purple-600 underline" target="_blank" rel="noopener noreferrer">Google Chrome Lighthouse</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{{outlet}}