<section>
  <h2>Purpose</h2>
  <p>The purpose of this website is to track the ways in which an application could fail global digital accessibility standards in a detailed way. From the perspective of engineers who wish to build automated linting and testing rules, it is not useful to merely track a success criteria, since a single success criteria could have multiple points of failure.</p>
  <p>The information found on this site intends to itemize the ways that applications could have accessibility errors. Each detail page will provide a summary view that covers four different things: automated linting, automated testing, developer authored tests, and manual testing. It will also provide more detailed prose for each of these items, which should provide context for each (either how-to, or addressing the limitations that currently exist).</p>
</section>
